@import "fonts.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2e2f22;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/
.bg-header {
  background: url("../img/bg-header.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
}

.menu__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.menu__nav {
  max-width: 609px;
  /* min-width: 410px; */
  width: 100%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__link {
  font-size: 18px;
  color: #2e2f22;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

/*all-articles*/
.all-articles {
  padding: 40px 0;
  text-align: center;
}

.title {
  font-family: "SpectralSC-Bold", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 60px;
}

.articles__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-bottom: 50px; */
}

.articles__topic {
  width: 200px;
  height: 46px;
  background-color: #d7d1c9;
  border-radius: 10px;
  display: flex;
  padding: 7px 35px 7px 20px;
  margin-bottom: 40px;
  font-size: inherit;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right 17px top 56%;
  background-size: 15px auto;
  background-image: url("../img/caret.svg");
  cursor: pointer;
}

.articles__topic:focus {
  outline: 0.5px auto rgba(250, 250, 250, 0.5);
}

/*cards*/
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 387px;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.figure__block {
  max-width: 387px;
  width: 100%;
  height: 268px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}

.card__title {
  font-family: "SpectralSC-Bold", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
  text-align: left;
}

.card__title a {
  color: #2e2f22;
}

.card__desc {
  margin-bottom: 10px;
  text-align: left;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-big {
  max-width: 590px;
  width: 100%;
  height: 552px;
  border-radius: 10px;
  color: #ffffff;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.card-big .card__title a {
  color: #ffffff;
}

.card-big1 {
  background: url("../img/img1-big.jpg") no-repeat center/cover;
}

.card-big2 {
  background: url("../img/img2-big.jpg") no-repeat center/cover;
}

.btn-show {
  border: 1px solid #202117;
  border-radius: 10px;
  background: transparent;
  padding: 12px 57px;
  color: #202117;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn-show:hover {
  background: #202117;
  color: #ffffff;
}

/*about*/
.about {
  padding: 40px 0;
}

.figure__about {
  max-width: 590px;
  width: 100%;
  max-height: 693px;
  height: 100%;
}

.figure__about img {
  width: 100%;
  border-radius: 10px;
}

.about__block {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.about__block--right {
  max-width: 550px;
  width: 100%;
  margin-left: 20px;
}

.about__info {
  max-width: 497px;
  width: 100%;
  padding: 40px 20px;
}

.about__info p {
  margin-bottom: 20px;
}

.about__info p > a {
  color: #2e2f22;
}

.about-quote {
  max-width: 550px;
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 20px;
  font-size: 16px;
  border-left: 3px solid #d7d1c9;
}

.about-quote p {
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}

/*portfolio*/
.portfolio {
  padding: 40px 0;
  text-align: center;
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 385px;
  text-align: center;
  padding: 140px 55px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}

.portfolio__item:nth-child(1) {
  background: url("../img/portfolio1.jpg") no-repeat center/cover;
}

.portfolio__item:nth-child(2) {
  background: url("../img/portfolio2.jpg") no-repeat center/cover;
  color: #ffffff;
}

.portfolio__item:nth-child(3) {
  background: url("../img/portfolio3.jpg") no-repeat center/cover;
}

.portfolio__title {
  margin-bottom: 44px;
}

.portfolio__name {
  margin-bottom: 17px;
}

.portfolio__btn-show {
  text-transform: uppercase;
  margin: 40px auto 0;
  text-align: center;
}

/*form*/
.form {
  padding: 40px 0 80px;
}

.form__block-w {
  margin: 0 15px;
}

.form__block {
  max-width: 1000px;
  width: 100%;
  /* height: 637px; */
  margin: auto;
  background: url("../img/bg-form.jpg") no-repeat center/cover;
  border-radius: 10px;
  padding: 60px 80px;
  text-align: center;
}

.form__input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input__block {
  max-width: 407px;
  margin-bottom: 20px;
  width: 100%;
}

.label__text {
  display: block;
  font-family: "SpectralSC-Bold", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.input__text {
  width: 98%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  border-radius: 10px;
  color: #202117;
  padding: 20px;
  /* margin-left: auto; */
  margin-right: 20px;
}

.texterea__block {
  width: 100%;
}

.texterea__message {
  width: 100%;
  height: 293px;
  resize: none;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
}

.submit__btn-show {
  text-transform: uppercase;
  margin-top: 30px;
}

/*footer*/
.footer {
  background: #d7d1c9;
  padding: 65px 0 91px;
}

.social__block {
  max-width: 631px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.social__link {
  text-decoration: none;
  color: #2e2f22;
}

.social__link:hover {
  text-decoration: underline;
}

/*page*/

.bg-header-page {
  background: url("../img/bg-header_st.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
}

.page {
  padding: 80px 0 40px;
}

.page__article {
  max-width: 998px;
  width: 100%;
}

.page__title {
  text-align: left;
  margin-bottom: 10px;
}

.page__tag {
  display: inline-block;
  margin: 0 20px 50px 0;
}
.page__text,
.page__img {
  margin-bottom: 30px;
}

.page__img figcaption {
  font-size: 14px;
}

.page__img img {
  width: 100%;
}

.page__social {
  display: flex;
  justify-content: space-between;
}

.page__social--right {
  display: flex;
  margin-bottom: 35px;
}

.page__social--item {
  margin-right: 30px;
}

.page__social--item:last-child {
  margin-right: 0;
}

.page__social--img {
  width: 50px;
  height: 50px;
  fill: rgb(46, 47, 34);
}

.page__social--item:hover .page__social--img {
  fill: #d7d1c9;
}

.page__link a {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #2e2f22;
}

.arrow {
  fill: "#2E2F22";
  width: 62px;
  height: 20px;
}

.page__link:hover a {
  color: #d7d1c9;
}

.page__link:hover .arrow {
  fill: #d7d1c9;
}

/*comments*/
.comments__block {
  max-width: 793px;
  padding-top: 40px;
  margin-bottom: 80px;
  width: 100%;
}

.comments__body {
  width: 100%;
  /* height: 429px; */
  background: #ece1e1;
  border-radius: 10px;
  padding: 35px 60px 35px 80px;
  margin-bottom: 70px;
}

.user__block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user__item {
  padding: 15px 20px;
}

.user__img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.user__name {
  font-weight: 700;
}

.comments__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin-left: 80px;
  margin-bottom: 60px;
}

/*form*/
.comment__center {
  text-align: center;
}

.comment__left {
  width: 300px;
  /* margin: auto;
  text-align: center; */
  float: left;
}

.comment__block {
  width: 221px;
  margin: auto 0 10px 27%;
}

.comment__label {
  display: block;
  text-align: left;
}

.comment__input {
  width: 100%;
  padding: 5px 10px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #2e2f22;
}

.comment__input:focus,
.comment__message:focus {
  outline: 1px solid #d7d1c9;
}

.comment__texterea {
  width: 406px;
  height: 200px;
  float: right;
}

.comment__message {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 16px;
  resize: none;
  border: 1px solid #2e2f22;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .articles__block {
    padding: 0 20px;
  }

  .cards,
  .about__block,
  .portfolio__list {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    justify-content: space-around;
  }

  .card-big {
    max-width: 387px;
    width: 100%;
    min-height: 416px;
    height: auto;
    padding: 20px;
  }

  .about__block--right {
    margin-left: 0;
  }

  .about__info {
    max-width: 550px;
  }

  .form__block {
    padding: 60px;
  }

  .page__article {
    padding: 0 15px;
  }

  .comments__block {
    margin: auto auto 80px;
    padding: 40px 15px 0;
  }

  .comment__block {
    margin: auto 10px 10px auto;
  }
}

@media (max-width: 992px) {
  .input__block {
    max-width: 815px;
  }

  .input__text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .input__block {
    max-width: 815px;
  }

  .input__text {
    width: 100%;
  }
  .page__tag {
    margin-bottom: 20px;
  }

  .page__link a {
    font-size: 30px;
  }

  .arrow {
    width: 35px;
    height: 15px;
  }

  .comments__body {
    padding: 35px 40px 35px 40px;
  }

  .comment__texterea, .comment__left {
    float: none;
    margin: auto;
    max-width: 406px;
    width: 100%;
    margin-bottom: 40px;
  }

  .comment__block {
    width: 100%;
    margin: auto auto 20px;
  }

  .comments__title {
    margin: 0 auto 30px;
    text-align: center;
  }
  
}

@media (max-width: 576px) {
  .articles__block {
    justify-content: center;
  }

  .title {
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about__info {
    padding: 20px;
  }

  .about-quote {
    padding: 10px;
  }

  .about-quote p {
    font-size: 24px;
    line-height: 30px;
  }

  .portfolio__item {
    padding: 100px 40px;
  }

  .form__block {
    padding: 20px;
  }

  .footer {
    padding: 40px 20px;
  }

  .page__link a {
    font-size: 24px;
  }

  .page__social--img {
    width: 35px;
    height: 35px;
  }

  .comments__body {
    padding: 35px 20px 35px 20px;
  }
}
